<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="bugsnag" type="Bugsnag.ConfigurationSection.Configuration, Bugsnag.ConfigurationSection" />
  </configSections>
  <bugsnag apiKey="4d1b0c20b1e7e59350842c6f6d972f4b" releaseStage="development" notifyReleaseStages="development" appVersion="1.0.0" />
</configuration>
